<template>
    <v-container>
        <v-layout row wrap class="justify-start">
            <v-toolbar color="cyan">
                <v-toolbar-title>Team</v-toolbar-title>
            </v-toolbar>
            <v-flex v-for="(member,index) in teams" :key="index" lg2 sm5 md3 xs5 mx-2 my-4>
                <v-card>
                    <v-card-media :src="member.imageUrl" height="200px">
                    </v-card-media>
                    <v-card-text class="text-lg-center">
                        <div>
                            <h2>{{member.name}}</h2>
                            <p v-if="member.position">{{member.position}}</p>
                            <p>{{member.role}}</p>
                        </div>
                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex>
                <v-card>
                    <v-card-title primary-title><h2>Our Story</h2></v-card-title>
                    <v-card-text class="text-lg-left orange--text yellow lighten-4">We have seen people suffered from bad health. Sometimes due to mistakes of Food Vendors, sometimes due to our Ignorance.
                        But if we can reduce health problems from Food till some extent, shouldn't we try..?
                        PaushtikOnline is an effort to make India Healthier. Serving Health on plate!! 	• We're here to supply a selection of high quality, healthy and well balanced food to meet people's requirement throughout the day. Energizing tired minds and refueling the productivity of people at work; Providing a taste when you're a distance away from home.

                    </v-card-text>
                </v-card>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    export default {
        name: "about-us",
        data () {
            return {
                teams: [
                    {
                        name: "Akhilesh",
                        position: "Founder",
                        role: "Software Developer",
                        imageUrl: "https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    },
                    {
                        name: "Nikhil",
                        position: "Co-founder",
                        role: "software Developer",
                        imageUrl: "https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    },
                    {
                        name: "Mohit",
                        position: "Co-founder",
                        role: "software Developer",
                        imageUrl: "https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    },
                    {
                        name: "Juhi",
                        position: "Co-founder",
                        role: "software Developer",
                        imageUrl: "https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    },
                    {
                        name: "Anonymous",
                        position: "Co-founder",
                        role: "software Developer",
                        imageUrl: "https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                    }
                ]
            }
        },
    }
</script>

<style scoped>

</style>