<template>
    <v-container>
            <v-stepper v-model="e1" class="mt-2">
                <v-stepper-header class="grey lighten-4">
                    <v-stepper-step step="1" :complete="e1 > 1"><strong>Items in Cart</strong></v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step step="2" :complete="e1 > 2">Address</v-stepper-step>
                    <v-divider></v-divider>
                    <v-stepper-step step="3">Payment 3</v-stepper-step>
                </v-stepper-header>
                <v-stepper-items>
                    <v-stepper-content step="1">
                        <v-container fluid>
                            <v-card v-if="allErrors && allErrors.emptyCart" class="yellow">
                                <v-card-text>{{allErrors.emptyCart}}</v-card-text>
                            </v-card>
                            <v-layout class="abc" justify-space-around my-5 d-flex style="overflow-x: auto; min-width: 100%" fluid>
                                <div style="overflow-x: scroll; min-width: 100%; display: flex;padding-right: 2em;padding-right: 2em">
                                     <card v-for="(item,index) in cartItems" :key="index" :menues= "item"></card>
                                </div>
                            </v-layout>
                        </v-container>
                        <v-btn color="cyan" @click="checkCart(2)">Continue</v-btn>
                        <v-btn flat>Cancel</v-btn>
                    </v-stepper-content>
                    <v-stepper-content step="2">
                        <v-toolbar color="cyan">
                            <v-toolbar-title>Fill Following Details</v-toolbar-title>
                        </v-toolbar>
                        <form class="grey lighten-4 px-4 py-2">
                            <v-text-field
                                    label="Name"
                                    v-model="deliveryData.name"
                                    required
                            ></v-text-field>
                            <p class="red--text" v-if="allErrors && allErrors.name">{{allErrors.name}}</p>
                            <v-text-field
                                    label="E-mail"
                                    v-model="deliveryData.email"
                                    required
                            ></v-text-field>
                            <p class="red--text" v-if="allErrors && allErrors.email">{{allErrors.email}}</p>
                            <v-text-field
                                    label="Address"
                                    v-model="deliveryData.address"
                                    required
                            ></v-text-field>
                            <p class="red--text" v-if="allErrors && allErrors.address">{{allErrors.address}}</p>
                            <v-text-field
                                    label="Phone No"
                                    v-model="deliveryData.phone_no"
                                    required
                            ></v-text-field>
                            <p class="red--text" v-if="allErrors && allErrors.phone_no">{{allErrors.phone_no}}</p>
                        </form>
                        <v-btn color="cyan" @click.native="checkField(3)">Continue</v-btn>
                        <v-btn flat>Cancel</v-btn>
                    </v-stepper-content>
                    <v-stepper-content step="3">
                        <v-toolbar color="cyan">
                            <v-toolbar-title>Bill</v-toolbar-title>
                        </v-toolbar>
                        <v-container fluid>
                            <v-layout class="justify-center">
                                <v-card>
                                <table class="table">
                                    <thead class="light-blue">
                                    <tr>
                                        <th class="subheading" scope="col">#</th>
                                        <th class="subheading" scope="col"><strong>Name</strong></th>
                                        <th class="subheading" scope="col"><strong>Quantity</strong></th>
                                        <th class="subheading" scope="col"><strong>Price</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(item,index) in cartItems">
                                        <td class="subheading">{{index + 1}}</td>
                                        <td class="subheading">{{item.subheading}}</td>
                                        <td class="subheading">{{item.addedQuantity}}</td>
                                        <td class="subheading">{{item.price}}</td>
                                    </tr>
                                    <tr  v-for="(item,index) in cartItems">
                                        <td></td>
                                        <td class="subheading">Total</td>
                                        <td></td>
                                        <td class="subheading">{{totalPrice}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                                </v-card>
                            </v-layout>
                            <v-layout class="justify-center d-block mt-4">
                                <h1>We will be soon available with online payment method.</h1>
                                <h2>Only Cash on Delivery available</h2>
                            </v-layout>
                        </v-container>
                        <v-btn color="cyan" @click.native="e1 = 1">Continue</v-btn>
                        <v-btn flat color="green" @click="submit">Submit</v-btn>
                        <v-alert type="success" style="background-color: orangered" :value="true" v-if="success">
                            Your response has beend recorded
                        </v-alert>
                    </v-stepper-content>
                </v-stepper-items>
            </v-stepper>
    </v-container>

</template>
<script>
    import Card from './MenuCard'
    import {instance} from "../HttpCommon";
    import moment from 'moment'
    import {store} from "../store/store";

    export default {
        data () {
            return {
                success: null,
                e1: 0,
                deliveryData: {
                    name: null,
                    email: null,
                    address: null,
                    phone_no: null,
                    user_id: this.$store.state.user.id
                },
              allErrors: {
              },
              combined : {

              },
             totalPrice: null
            }
        },
        components: {
            Card
        },
        computed: {
            cartItems () {
                this.$store.state.cartItems.forEach(item => {
                    this.totalPrice = item.price + this.totalPrice;
                });
                return this.$store.state.cartItems;

            },
            user () {
                this.deliveryData.user_id = this.$store.state.user.id;
                return this.$store.state.user
            }
        },
        methods: {
            totalPrice (){
              this.cartItems.forEach(item => {
                  this.totalPrice = item.price + this.totalPrice;
                })
            },
            submit () {
                let sentData = [];

                // this obj contain the value which we have to send to user order table
                this.cartItems.forEach(item => {
                    let obj = {};
                    obj.menu_id = item.id;
                    obj.quantity = item.addedQuantity;
                    obj.order_date = moment().format('YYYY-MM-DD');
                    obj.delivery_details_id = this.deliveryData.id;
                    sentData.push(obj);
                });
                sentData.forEach(item => {
                instance.post('user-order', item).then(response => {
                    swal({
                        icon: "success",
                        text: "Your Order has been received",
                    });
                    this.success = true;
                    this.$store.commit('emptyCart');
                }).catch(error => {
                    console.log(error.response);
                });
                });
            },
            checkCart(next) {
                if(this.cartItems && this.cartItems.length) {
                    console.log(this.cartItems);
                    this.e1 = 2;
                    this.allErrors = {};
                }
                this.$set(this.allErrors, 'emptyCart', "Your Cart is Empty. Purchase Items then proceed");
            },
            checkField(next) {
                let i = 0;

                // customize error for filling details
                for(let key in this.deliveryData) {
                    if(!this.deliveryData[key]) {
                        this.$set(this.allErrors, key, `This ${key} field is required`);
                    }
                   else {
                        i++;
                    }
                }

                /**
                 * when all field  is field send request and  this.e1 = 3 will provide access to continue
                 */
                // if(i === Object.keys(this.deliveryData).length){
                //    let http = null;
                //     if(this.deliveryData && this.deliveryData.id) {
                //         http =  instance.put(`delivery-detail/${this.deliveryData.id}`, this.deliveryData)
                //     }
                //     else {
                //         http =  instance.post('delivery-detail', this.deliveryData)
                //     }
                //     http.then(response => {
                //             this.deliveryData.id = response.data.id;
                //         }).catch(error => {
                //            if(error.response.data.status === 500){
                //                this.$store.dispatch('expireSession');
                //            }
                //             // this.allErrors = error.response.data.error.details;
                //         });
                //     this.e1 = 3;
                //     }
                this.e1 = 3;
            }
        }

    }
</script>

<style scoped>
    table tr:nth-child(even) td{
        background-color: #E0F7FA;
    }
</style>