<template>
    <v-carousel>
        <v-carousel-item v-for="(item,i) in items" :src="item.src" :key="i"></v-carousel-item>
    </v-carousel>
</template>

<script>
    export default {
        data () {
            return {
                items: [
                    {
                        // src: 'https://blog.pickyourtrail.com/wp-content/uploads/2018/02/home-panel-11-1-1.jpg'
                    },
                    {
                        // src: 'http://www.lovexfood.com/wp-content/uploads/2016/08/lovexfooditaly.png'
                    },
                    {
                        // src: 'http://aspicytouch.ca/wp-content/uploads/2014/09/homepageparallaxbg.jpg'
                    },
                    {
                        // src: 'https://thebetterindia.com/wp-content/uploads/2016/08/spices.jpg'
                    }
                ]
            }
        }
    }
</script>
<style scoped>

</style>