<template>
    <v-footer height="auto"h>
        <v-card
                flat
                tile
                class="indigo lighten-1 white--text text-xs-center"
        >
            <v-card-text>
                <v-btn
                        v-for="icon in icons"
                        :key="icon"
                        class="mx-3 blue"
                        depressed
                >
                    {{icon}}
                </v-btn>
            </v-card-text>
            <v-card-text class="white--text pt-0">
                • We're here to supply a selection of high quality, healthy and well balanced food to meet people's requirement throughout the day. Energizing tired minds and refueling the productivity of people at work; Providing a taste when you're a distance away from home.
            </v-card-text>
            <v-card-text class="orange--text">
                Join us in celebrating the foods that can support good health for a lifetime!
            </v-card-text>
            <v-card-text class="yellow--text">
                Food acts as medicine--to maintain, prevent, and treat disease.
            </v-card-text>
        </v-card>
    </v-footer>
</template>
<script>
    export default {
        data: () => ({
            icons: ['facebook', 'Twitter']
        })
    }
</script>t>

<style scoped>

</style>