<template>
    <div>
        <carousel style="z-index: -1;"></carousel>
        <tabs></tabs>
        <parallex></parallex>
        <data-iterator></data-iterator>
        <why-us></why-us>

    </div>
</template>

<script>
import Carousel from './Carousels'
import Tabs from './Tabs'
import Parallex from './Parallex'
import DataIterator from './DataIterator'
import WhyUs from './WhyUs'
import {baseUrl} from "../config";
import axios from 'axios'

export default {
    name: "home-page",
    data: () => ({
        categories: [],
    }),
    components: {
        Carousel, Tabs, Parallex, DataIterator, WhyUs
    }
}
</script>

<style scoped>

</style>