<template>
    <div>
        <v-container>
            <v-layout row wrap>
                <v-flex sm4>
                    <v-carousel>
                        <v-carousel-item v-for="(item,i) in items" :src="item.src" :key="i"></v-carousel-item>
                    </v-carousel>
                </v-flex>
                <v-flex sm6 offset-sm2>
                    <v-card>
                        <v-toolbar color="cyan lighten-3">
                            <v-toolbar-title>{{detail.title}}</v-toolbar-title>
                        </v-toolbar>
                        <v-card-text style="text-align: start">
                            <p><strong>Description: </strong>{{detail.description}}</p>
                            <p><strong>Benefit: </strong>{{detail.benefit}}</p>
                            <p><strong>Offers: </strong>{{detail.offer}}</p>
                            <p><strong>Available Quantity: </strong>{{detail.quantity}}</p>
                        </v-card-text>
                        <v-card-actions class="justify-center" v-if="showCart">
                            <v-btn v-if="showCart" color="orange" @click.stop="addToCart" ><v-icon>shopping_cart</v-icon>Add</v-btn>
                        </v-card-actions>
                        <v-card-actions v-if="noOfItem" class="justify-center">
                            <v-btn color="blue" fab small dark @click.stop="incrementItem"><v-icon>add</v-icon></v-btn><strong>{{noOfItem}}</strong><v-btn color="red" fab small dark @click.stop="decrementItem"><v-icon>remove</v-icon></v-btn>
                        </v-card-actions>
                    </v-card>
                    <v-card>
                        <v-toolbar color="cyan lighten-3" class="mt-2">
                            <v-toolbar-title>Nutrition </v-toolbar-title>
                        </v-toolbar>
                        <v-card-text style="text-align: start">
                            <p><strong>Calorie: </strong>{{detail.description}}</p>
                            <p><strong>Carbohydrate: </strong>{{detail.benefit}}</p>
                            <p><strong>Minerals: </strong>{{detail.offer}}</p>
                            <p><strong>Protein: </strong>{{detail.quantity}}</p>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>

<script>
    export default {
        props: ['detail'],
        name: "Item",
        mounted: () => {

        },
        data () {
            return {
                items: [
                    {
                        src: 'https://vuetifyjs.com/static/doc-images/carousel/squirrel.jpg'
                    },
                    {
                        src: 'https://vuetifyjs.com/static/doc-images/carousel/sky.jpg'
                    },
                    {
                        src: 'https://vuetifyjs.com/static/doc-images/carousel/bird.jpg'
                    },
                    {
                        src: 'https://vuetifyjs.com/static/doc-images/carousel/planet.jpg'
                    }
                ],
                showCart: true,
                counter: 0,
            }
        },
        computed: {
            noOfItem () {
                const noOfItem = this.$store.getters.noOfItem(this.detail.id);
                if(noOfItem){
                    this.showCart= false ;
                }
                return noOfItem;
            }
        },
        methods:  {
            addToCart () {
                this.showCart  = false;
                this.$store.commit('addToCart', this.detail);
            },
            incrementItem  () {
                this.$store.commit('incrementItem', this.detail);
            },
            decrementItem () {
                this.$store.commit('decrementItem', this.detail);
                if(this.noOfItem == 0)
                    this.showCart = true;
            }
        }
    }
</script>

<style scoped>

</style>