<template xmlns="http://www.w3.org/1999/html">
        <v-flex :class="[flexElevation]" id="media" sm4 lg4 my-4 mx-1 fluid @mouseover="mouseOver" @mouseleave="mouseLeave" @click="anotherPage">
            <v-card  hover>
                <v-card-media
                        :src=menues.image
                        height="70px"
                >
                </v-card-media>
                <v-card-title class="justify-center">
                    <div>
                        <div class="overflow-hidden mr-1 colorClass" style="white-space: nowrap; text-overflow: ellipsis" >{{ menues.title }} </div>
                        <div class="blue--text"><strong>Price:</strong><span class="blue--text"> {{menues.price}} </span></div>
                    </div>
                </v-card-title>
                <v-card-actions class="justify-center" v-if="showCart">
                  <v-btn v-if="showCart" color="orange" @click.stop="addToCart" ><v-icon>shopping_cart</v-icon>Add</v-btn>
                </v-card-actions>
                <v-card-actions v-if="noOfItem" class="justify-center">
                    <v-btn color="blue" fab small dark @click.stop="incrementItem"><v-icon>add</v-icon></v-btn><strong>{{noOfItem}}</strong><v-btn color="red" fab small dark @click.stop="decrementItem"><v-icon>remove</v-icon></v-btn>
                </v-card-actions>
            </v-card>
        </v-flex>
</template>

<script>
    export default {
        props: ['menues'],
        data () {
            return {
                show: false,
                flexElevation: 'elevation-12',
                showCart: true,
            }
        },
        computed:{
            noOfItem () {
                 const noOfItem =  this.$store.getters.noOfItem(this.menues.id);
                 if(noOfItem){
                     this.showCart= false ;
                 }
                 return noOfItem;
            }
        },
        methods: {
            addToCart () {
                this.showCart  = false;
                this.$store.commit('addToCart', this.menues);
            },
            mouseOver () {
                this.flexElevation = 'elevation-24'
            },
            mouseLeave () {
                this.flexElevation = 'elevation-12'
            },
            anotherPage () {
                this.$router.push({name: 'Item-detail', params: { detail: this.menues}});
            },
            incrementItem  () {
                this.$store.commit('incrementItem', this.menues);
            },
            decrementItem () {
                this.$store.commit('decrementItem', this.menues);
                if(this.noOfItem == 0)
                    this.showCart = true;
            }
        },
    }
</script>

<style scoped>
    @media screen and (min-width: 400px) {
        #media{
            min-width:200px;
        }
    }
    @media screen and (max-width: 400px) {
        #media{
            background-color: blue;
            min-width:100px;
        }
    }
</style>