<template>
    <v-parallax src="http://www.mandarinspiceasiangrill.com/images/bg_parallax_1.jpg" height=200>
        <strong class="headline white--text">Our Mission is to make India Healthier.</strong>
        <strong class="white--text">To provide Hygienic, Nutritious and Variety Food @ most affordable cost.</strong>
    </v-parallax>
</template>
<script>
    export default {
        name: "parallex"
    }
</script>

<style scoped>

</style>