<template>
    <div>
        <v-tabs
                v-model="active"
                color="cyan"
                dark
                centered
                slider-color="yellow"
        >
            <v-tab
                    v-for="(category, index) in categories"
                    :key = index
                    ripple
                    @mouseover="hoverTab(index)"
            >
                <strong class="headline red--text"><strong>{{ category.title }}</strong></strong>
            </v-tab>
            <v-tab-item
                    v-for="(category, index) in categories"
                    :key= index
            >
               <v-container fluid>
                   <v-layout justify-space-around my-5 d-flex fluid>
                       <div style="overflow-x: scroll; min-width: 100%; display: flex;padding-left: 2em;padding-right: 2em">
                           <card v-for="(item, index) in category.menue.data" :key=index :menues= "item"></card>
                       </div>

                   </v-layout>
               </v-container>
            </v-tab-item>
        </v-tabs>
        <div class="text-xs-center mt-3">
            <v-btn @click.native="next">next tab</v-btn>
        </div>
    </div>
</template>

<script>
import Card from './MenuCard'
import CardOth from './CardOth'
import axios from 'axios'
import {baseUrl} from "../config";
import {HTTP} from "../HttpCommon";

export default {
        data () {
            return {
                active: null,
                text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.',
                categories: [],
            }
        },
        components: {
           Card, CardOth
        },
        methods: {
            hoverTab (index) {
                this.active = (index).toString()
            },
            next () {
                const active = parseInt(this.active)
                this.active = (active < this.categories.length - 1  ? active + 1 : 0).toString()
            }
        },
        created() {
            HTTP.get('categories')
                .then(response => {
                    this.categories = response.data.data;
                    this.active = "0";
                    console.log(this.categories);
                })
                .catch(error => {
                    console.log(this.error);
                })
        }
    }
</script>

<style scoped>
    .abc::-webkit-scrollbar-thumb {
        background: red;
    }

</style>