<template>
    <div id="user-base-view">
        <v-navigation-drawer
                fixed
                class="white"
                v-model="drawer"
                app
                temporary
        >
            <v-list dense>
                <v-list-tile router to='/home'>
                    <v-list-tile-action>
                        <v-icon>home</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Home</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-show="!user" router to='/log-in'>
                    <v-list-tile-action>
                        <v-icon>home</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Log-in</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-show="!user" router to='/sign-up'>
                    <v-list-tile-action>
                        <v-icon>home</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Sign-up</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile router to='/contact'>
                    <v-list-tile-action>
                        <v-icon>contact_mail</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Contact</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile router to='/about'>
                    <v-list-tile-action>
                        <v-icon>people</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>About-us</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile router to='/'>
                    <v-list-tile-action>
                        <v-icon>forum</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Blog</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar color="cyan" dark fixed app>
            <v-toolbar-side-icon class="hidden-md-and-up" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-btn flat router to="/" class="title">Paushtik</v-btn>
            <v-alert type="error" class="red" :value="true" v-if="sessionExpired">
                <h1>your session has expired log-in in again</h1>
            </v-alert>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn flat router v-if="!user" to="/log-in">Log-in</v-btn>
                <v-btn flat router v-if="!user" to="/sign-up">Sign-up</v-btn>
                <v-btn flat router to="/contact">Contact-us</v-btn>
                <v-btn flat router to="/about">About-us</v-btn>
                <v-btn flat>Blog</v-btn>
                <v-btn class="cyan" flat router to="/billing">
                    <v-badge right>
                        <span slot="badge">{{noOfCartItems}}</span>
                        <v-icon large color="red">shopping_cart</v-icon>
                    </v-badge>
                </v-btn>
                <v-btn flat v-if="user" @click="logout">Log-Out</v-btn>
            </v-toolbar-items>
        </v-toolbar>
        <v-content>
            <router-view/>
        </v-content>
        <v-footer color="indigo" class="justify-center" app>
        <strong class="white--text">  We're here to supply a selection of high quality, healthy and well balanced food to meet people's requirement throughout the day.</strong>
        </v-footer>
    </div>
</template>

<script>
import BootomFooter from './Footer'
import {instance} from "../HttpCommon";
import {store} from "../store/store";

export default {
    name: 'App',
    data: () => ({
        drawer: null,
    }),
    mounted () {
        this.$store.commit('setAuthToken', localStorage.getItem('authToken'));
        this.$store.commit('setUser', JSON.parse(localStorage.getItem('userDetail')));
    },
    computed: {
       noOfCartItems () {
           return this.$store.getters.noOfCartItems;
       },
        user () {
           return this.$store.state.user;
        },
        sessionExpired() {
           return this.$store.state.sessionExpired;
        }
    },
    props: {
        source: String
    },
    components: {
        BootomFooter
    },
    methods: {
        logout() {
            let sendData = {};
            instance.get('auth/logout', sendData).then(response => {
                localStorage.removeItem('authToken');
                localStorage.removeItem('userDetail');
                this.$store.dispatch('expireSession');
            }).catch(error => {
            })
        }
    }
}
</script>

<style scoped>

</style>