<template>
    <v-layout row>
        <v-flex xs12 px-4 my-2>
            <v-card>
                <v-toolbar color="cyan" dark>
                    <v-toolbar-title>Customers Reveiws</v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
                <v-list two-line>
                    <template v-for="(item, index) in items">
                        <v-subheader v-if="item.header" :key="item.header">{{ item.header }}</v-subheader>
                        <v-divider v-else-if="item.divider" :inset="item.inset" :key="index"></v-divider>
                        <v-list-tile avatar v-else :key="item.title" @click="">
                            <v-list-tile-avatar>
                                <img :src="item.avatar">
                            </v-list-tile-avatar>
                            <v-list-tile-content>
                                <v-list-tile-title v-html="item.title"></v-list-tile-title>
                                <v-list-tile-sub-title v-html="item.subtitle"></v-list-tile-sub-title>
                                <v-list-tile-sub-title v-html="item.point1"></v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>
                    </template>
                </v-list>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        data () {
            return {
                items: [
                    { avatar: 'https://vuetifyjs.com/static/doc-images/lists/1.jpg', title: 'Healthy Foods',
                      subtitle: "<span class='text--primary'>Stay healthy</span>" + " &mdash; Paushtik is food for families by families. it ensure healthy and delicious meals"
                    },
                    { divider: true, inset: true },
                    { avatar: 'https://vuetifyjs.com/static/doc-images/lists/2.jpg',
                        title: 'Available at your door-step',
                        subtitle: "<span class='text--primary'>Live smarter and eat better</span> &mdash;Great collection of high quality, healthy and well balanced food to meet people's requirement throughout the day."
                    },
                    { divider: true, inset: true },
                    { avatar: 'https://vuetifyjs.com/static/doc-images/lists/3.jpg',
                        title: 'Much Affordable',
                        subtitle: " Honest prices, fresh, delicious food."
                    }
                ]
            }
        }
    }
</script>
<style scoped>

</style>