<template>
  <div id="app">
     <router-view/>
  </div>
</template>

<script>
import BootomFooter from './components/Footer'

export default {
  name: 'App',
    data: () => ({
        drawer: null
    }),
    props: {
        source: String
    },
  components: {
      BootomFooter
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
