<template>
    <v-app id="inspire">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="primary">
                                <v-toolbar-title>Login form</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field prepend-icon="person" v-model="login.email" label="email" type="text"></v-text-field>
                                    <p v-if="allErrors && allErrors.email" class="red--text subheading">{{allErrors.email[0]}}</p>
                                    <v-text-field prepend-icon="lock" v-model="login.password" label="Password" id="password" type="password"></v-text-field>
                                    <p v-if="allErrors && allErrors.password" class="red--text subheading">{{allErrors.password[0]}}</p>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" @click="submit">Login</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import axios from 'axios';
import {HTTP} from "../../HttpCommon";

export default {
        data: () => ({
            drawer: null,
            login: {
                email: null,
                password: null,
            },
            allErrors: null,
        }),
        props: {
            source: String
        },
    computed: {
            user: {
                get() {
                    return this.$store.state.user;
                },
                set(value) {
                    console.log('updating user', value);
                     this.$store.commit('setUser', value);
                }
            },
            authToken: {
                get() {
                    return this.$store.state.auth_token;
                },
                set(value) {
                    console.log('updating token', value);
                    this.$store.commit('setAuthToken', value);
                }
            }
    },
        methods : {
            submit () {
                HTTP.post('auth/login', this.login)
                    .then(response => {
                        localStorage.setItem('authToken', response.data.token);
                        localStorage.setItem('userDetail', JSON.stringify(response.data.user));
                        this.authToken = response.data.token;
                        this.user = response.data.user
                        this.$router.push({name: 'Home'});
                    })
                    .catch(error => {
                        this.allErrors = [];
                        this.allErrors = error.response.data.errors;
                        console.log(this.allErrors);
                    });
            }
        }
    }
</script>
<style scoped>

</style>