<template>
    <v-app id="inspire">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="primary">
                                <v-toolbar-title>Sign-Up</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field prepend-icon="person" v-model="register.name" label="Enter name" type="text"></v-text-field>
                                    <p v-if="allErrors && allErrors.name" class="red--text subheading">{{allErrors.name[0]}}</p>
                                    <v-text-field prepend-icon="email" v-model="register.email" label="Enter email" type="email"></v-text-field>
                                    <p v-if="allErrors && allErrors.email" class="red--text subheading">{{allErrors.email[0]}}</p>
                                    <v-text-field prepend-icon="lock" v-model="register.password_confirmation" label="Enter password confirmation" type="password"></v-text-field>
                                    <p v-if="allErrors && allErrors.password" class="red--text subheading">{{allErrors.password[0]}}</p>
                                    <v-text-field prepend-icon="lock" v-model="register.password" label="Enter password" type="password"></v-text-field>
                                    <p v-if="allErrors && allErrors.password" class="red--text subheading">{{allErrors.password[0]}}</p>
                                    <v-text-field prepend-icon="phone" v-model="register.phone_no" label="Enter phone no" type="number"></v-text-field>
                                    <p v-if="allErrors && allErrors.phone_no" class="red--text subheading">{{allErrors.phone_no[0]}}</p>
                                    <v-text-field prepend-icon="home" v-model="register.address" label="Enter Address" type="string"></v-text-field>
                                    <p v-if="allErrors && allErrors.address" class="red--text subheading">{{allErrors.address[0]}}</p>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" @click="submit">Sign-Up</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
import axios from 'axios';
import {HTTP} from "../../HttpCommon";
import moment from 'moment'

export default {
        data: () => ({
            drawer: null,
            register: {
                name: null,
                email: null,
                password: null,
                phone_no: null,
                password_confirmation: null,
                address: null,
            },
            allErrors: null,
        }),
        computed: {
            user: {
                get() {
                    return this.$store.state.user;
                },
                set(value) {
                    console.log('updating user', value);
                    this.$store.commit('setUser', value);
                }
            },
            authToken: {
                get() {
                    return this.$store.state.auth_token;
                },
                set(value) {
                    console.log('updating token', value);
                    this.$store.commit('setAuthToken', value);
                }
            }
    },
        methods: {
            submit () {
                let config = {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest',
                        'Content-Type': 'application/json',
                    }
                };
                HTTP.post('auth/register', this.register)
                    .then(response => {
                        this.authToken = response.data.token;
                        this.user = response.data.user
                        localStorage.setItem('authToken', response.data.token);
                        localStorage.setItem('userDetail', JSON.stringify(response.data.user));
                        this.$router.push({name: 'Home'});
                    })
                    .catch(error => {
                        if (error.response.data.status_code === 422 && error.response.data.errors) {
                            this.allErrors = [];
                            this.allErrors = error.response.data.errors;
                        }
                    });
            }
        },
        props: {
            source: String
        }
    }
</script>
<style scoped>

</style>